RewriteEngine On

# End the processing, if a rewrite already occurred
RewriteRule ^(api|admin)/web/ - [L]

# Handle the case of admin, skip ([S=1]) the following rule, if current matched
RewriteRule ^admin(/(.*))?$ backend/web/$2 [S=1]

# handle the case of api
RewriteRule .* api/web/$0